@import 'prism-material-themes/themes/material-default.css';
@import "tailwindcss";
@plugin "daisyui";

@layer components {

  small {
    @apply mt-1 text-sm text-red-600
  }
  .inline-code {
    @apply font-mono bg-gray-100 text-gray-800 px-1 rounded inline;
  }
}

@layer utilities {
  .input {
    @apply w-full transition-all duration-100 ease-in-out
  }
  .panel {
    @apply p-3 border-1 rounded-sm border-slate-300
  }
}

:root {
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: Inter var, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

h1 {
  font-size: 1.75rem;
  font-weight: bold;
}

h2 {
  font-size: 1.35rem;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}
