@use './tailwind.css';
@import 'prism-material-themes/themes/material-default.css';

@layer components {
  .inline-code {
    @apply font-mono bg-gray-100 text-gray-800 px-1 rounded inline;
  }
}

:root {
  font-size: 14px;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Inter var, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}
