<!-- @documented -->
<div class="h-full w-full flex flex-col gap-3">
  <h1>Validation</h1>

  <h2>Conditional</h2>
  <p-panel>
    <!-- @doc-start -->
    <form [formGroup]="formGroup" class="flex flex-col gap-3 p-3">
      <div class="flex flex-col">
        <label class="font-medium" for="field1">Field 1</label>
        <input
          formControlName="field1"
          type="text"
          pInputText
          id="field1"
          autocomplete="off"
          placeholder="Type 'a' or 'b' to add validator to Field 2"
        />
        @if (formGroup.controls.field1.errors; as errors) {
          <p-message severity="error" size="small" variant="simple">
            {{ errors | formatErrors }}
          </p-message>
        }
      </div>

      <div class="flex flex-col">
        <label class="font-medium" for="field2">Field 2</label>
        <input
          formControlName="field2"
          type="text"
          pInputText
          id="field2"
          autocomplete="off"
          placeholder=""
        />
        @if (formGroup.controls.field2.errors; as errors) {
          <p-message severity="error" size="small" variant="simple">
            {{ errors | formatErrors }}
          </p-message>
        }
      </div>
    </form>
    <!-- @doc-end -->

    <p-divider></p-divider>

    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0">HTML</p-tab>
        <p-tab value="1">TS</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <p class="m-0">
            <app-code-snippet-example
              type="HTML"
              [exampleName]="fileName"
            ></app-code-snippet-example>
          </p>
        </p-tabpanel>
        <p-tabpanel value="1">
          <p class="m-0">
            <app-code-snippet-example type="TS" [exampleName]="fileName"></app-code-snippet-example>
          </p>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </p-panel>
</div>
